<?xml version="1.0"?>
<robot name="omni_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/robot/parts/base/base.xacro"/>
  <xacro:include filename="$(find robot_description)/robot/parts/wheel/wheel.xacro"/>
  <xacro:include filename="$(find robot_description)/robot/parts/knuckle/knuckle.xacro"/>
  <xacro:include filename="$(find robot_description)/robot/robot_control_gazebo.xacro"/>
  <xacro:property name="PI" value="3.14159274"/>

  <!-- =============== Link & Joint =============== -->
  <!-- Base -->
  <link name="base_footprint"/>
  <xacro:base parent="base_footprint">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:base>

  <!-- Suspension -->
  <!-- Front Right Sus -->
  <xacro:knuckle prefix="front_right" parent="base_link">
	<origin xyz="1.8 -0.55 0.05" rpy="0 0 ${PI}"/>
	<axis xyz="0 0 1"/>
  </xacro:knuckle>
  <!-- Front Left Sus -->
  <xacro:knuckle prefix="front_left" parent="base_link">
	<origin xyz="1.8 0.55 0.05" rpy="0 0 0"/>
	<axis xyz="0 0 1"/>
  </xacro:knuckle>

  <!-- Wheels -->
  <xacro:wheel prefix="fr" parent="front_right_knuckle_link">
	  <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
	  <axis xyz="0 -1 0"/>
  </xacro:wheel>

  <xacro:wheel prefix="fl" parent="front_left_knuckle_link">
	<origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
	<axis xyz="0 1 0"/>
  </xacro:wheel>

  <xacro:wheel prefix="rl" parent="base_link">
	<origin xyz="0.0 0.55 0.05" rpy="0 0 0"/>
	<axis xyz="0 1 0"/>
  </xacro:wheel>

  <xacro:wheel prefix="rr" parent="base_link">
	<origin xyz="0.0 -0.55 0.05" rpy="0 0 ${PI}"/>
	<axis xyz="0 -1 0"/>
  </xacro:wheel>

  <!-- =============== Gazebo =============== -->
  <!-- Controllers -->
  <xacro:robot_ros2_control/>

  <!-- Base -->
  <xacro:base_gazebo_v0/>

  <!-- Knuckle -->
  <xacro:knuckle_gazebo prefix="front_right"/>
  <xacro:knuckle_gazebo prefix="front_left"/>

  <!-- Wheels -->
  <xacro:wheel_gazebo_v0 prefix="fr"/>
  <xacro:wheel_gazebo_v0 prefix="fl"/>
  <xacro:wheel_gazebo_v0 prefix="rl"/>
  <xacro:wheel_gazebo_v0 prefix="rr"/>

</robot>
